/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #86469C;
    --secondary-color: #BC7FCD;
    --primary-color: #FB9AD1;
    --navbar-footer-color: #FFCDEA;
}
*{
    margin: 0;
    padding: 0;
}
.boxShadow{
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

/* common-styles.css */
.authBlock {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .or {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    font-weight: bold;
  }
  
  .orInner {
    background: white;
    padding: 0 10px;
  }
  
  .or::before, .or::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background: #ccc;
  }
  
  .or::before {
    left: -110px;
  }
  
  .or::after {
    right: -110px;
  }
  
  .forgotPassword, .redirect {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgotPassword:hover, .redirect:hover {
    text-decoration: underline;
  }
  
  .vh-100 {
    height: 100vh;
  }
  
  .boxShadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .img-fluid {
    width: 100%;
    height: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
